<!-- display movies on click on this site-->

<div>
    
    <div><img src="<%= movieToCheck.image %>" alt="Film picture"></div>
    <div>
        <h3><%-movieToCheck.title%></h3>
        <p><strong>Director: </strong><%-movieToCheck.director%></p>
        <p><strong>Star: </strong></p>
        <ul><% movieToCheck.stars.forEach(star => {%>
            <li><%= star%></li>
        <% }) %>
        </ul>
        <p><strong>Description: </strong></p>
        <p><%-movieToCheck.description%></p>
        <p><strong>Showtimes: </strong></p>
        <ul><% movieToCheck.showtimes.forEach(time => {%>
            <li><%= time%></li>
        <% }) %>
        </ul>
    </div>
    
        
   
</div>